{
    ApplicationDescription = "Screenshot application for capturing windows, areas, or full screen";
    ApplicationIcon = "Screenshot.png";
    ApplicationName = Screenshot;
    ApplicationRelease = "1.0";
    Authors = (
	"Simon Peter"
    );
    CFBundleDocumentTypes = (
	{
	    CFBundleTypeExtensions = (
		png,
		jpg,
		jpeg,
		tiff,
		gif
	    );
	    CFBundleTypeIconFile = "Screenshot.png";
	    CFBundleTypeName = "Image File";
	    CFBundleTypeRole = Viewer;
	}
    );
    Copyright = "Copyright (C) 2026 Simon Peter";
    FullVersionID = "1.0";
    NSExecutable = Screenshot;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}