[Desktop Entry]
Name=NetworkBrowser
Comment=Browse network services using mDNS/DNS-SD
Exec=NetworkBrowser
Icon=preferences-system-network
Type=Application
Categories=Utility;
